
@{
    ViewBag.Title = "WorkerOrEmployer";
}

<h2>WorkerOrEmployer</h2>

@Html.ActionLink("Become a Freelancer", "Create", "Workers")
@Html.ActionLink("Hire a Freelancer", "Create", "Employers")




